//-
   list.pug

   Display the list view.  The table displays search results.

extends layout.pug
block scripts
    script(src="scripts/pubminer.js")
block content
    div(class="whats-new")
        h2 Demographic Database Statistics
        div(class="stat-items" id="stat-items")
            div(class="stat-line") 
                span Last update occurred on 
                span(class="emphasis") #{metadata.formattedDateString}
            div(class="stat-line")
                span(class="fa fa-list abstract-icon abstract-icon")
                span(class="icon-text") 
                    span(class="emphasis") #{metadata.total_updates} 
                    span new articles were added
            div(class="stat-line")
                span(class="pficon pficon-users sentence-icon")
                span(class="icon-text") 
                    span(class="emphasis") #{metadata.with_sentences} 
                    span sentences containing demographic information were discovered
            div(class="stat-line")
                span(class="fa fa-table table-icon")
                span(class="icon-text") 
                    span(class="emphasis") #{metadata.with_tables} 
                    span tables containing demographic rows were discovered
            div(class="stat-line")
                span There are currently&nbsp;
                span(class="emphasis") #{metadata.total_items}
                span &nbsp;articles in the database
                
