//-
    resultRow.pug

    Display an individual result row.

div(class='list-group-item')
    div(class="list-group-item-header")
        div(class="list-view-pf-expand")
            span(class="fa fa-angle-right")
        div(class="list-view-pf-checkbox")
            input(type="checkbox" class="uid" value=item.uid)
        div(class="list-view-pf-main-info")
            div(class="list-view-pf-body")
                div(class="list-view-pf-description")
                    div(class="list-group-item-text")
                        //- Title
                        span(class="article-title") #{item.title}
                        //- Authors list, comma separated
                        - var authorList = item.authors.map(function(author){if(author.authtype == "Author") return author.name;}).join(', ');
                        div(class="pm-list-row-authors" title=`${authorList}`)= authorList
                div(class="list-view-pf-additional-info")
                    div(class="list-view-pf-additional-info-item")
                        span(class="pficon pficon-screen")
                        span Age 19-64
                    div(class="list-view-pf-additional-info-item")
                        span(class="pficon pficon-user")
                        span= (item.male_perc * 100).toFixed(0) + "% Male"  
    //- Expansion section
    div(class="list-group-item-container container-fluid hidden")
        div(class="close")
            span(class="pficon pficon-close")
        div(style="padding-bottom: 8px")
            if (item.pubdate) 
                span(style="padding-right: 10px") Publication Date:
                    span(style="padding-left: 3px; font-weight: bold")= item.pubdate
            each articleid in item.articleids
                if (articleid.idtype == "pmc") && (articleid.value != 0)
                    span(style="padding-right: 10px") PubMed Central:&nbsp;
                        a(target="_blank" href=`https://www.ncbi.nlm.nih.gov/pmc/${articleid.value}`) #{articleid.value}
                if (articleid.idtype == "pubmed") && (articleid.value != 0)
                    span(style="padding-right: 10px") PubMed:&nbsp;
                        a(target="_blank" href=`https://www.ncbi.nlm.nih.gov/pubmed/${articleid.value}`) #{articleid.value}
        //- Expansion Body gets replaced with content from an API call.
        div(class="expansion-body")
            .spinner
            .loading-text Loading
