//-
    results.pug

    Basic layout of the search results page.

extends layout.pug
block scripts
    script(src="scripts/pubminer.js")
block content
    if results.items.length == 0
        p(class='results-summary') No results found for "#{qryResult.searchTerm}"
    else
        input(type="hidden" id="webenv" value=qryResult.webenv)
        input(type="hidden" id="querykey" value=qryResult.querykey)
        input(type="hidden" id="nextRow" value=nextRow)
        input(type="hidden" id="rowCount" value=rowCount)
        input(type="hidden" id="itemsLoaded" value=qryResult.itemsReturned)
        input(type="hidden" id="totalItems" value=qryResult.itemsFound)
        input(type="hidden" id="searchTerm" value=qryResult.searchTerm)
        p(class='results-summary') Displaying #{qryResult.itemsReturned} of #{qryResult.itemsFound} results found for "#{qryResult.searchTerm}"
        div(class='container-fluid')
            div(id="resultRows" class='list-group list-view-pf list-view-pf-view')
                include resultRows
        button(id="moreButton" class="btn btn-warning") Show More
