//-
   results.pug

   Display the search results.

extends layout.pug
block content
    if results.items.length == 0
        p(style='margin: 24px 0px 0px 20px; font-style: italic;') No results found for "#{results.searchTerm}"
    else
        p(style='margin: 24px 0px 0px 20px; font-style: italic;') Displaying #{results.itemsReturned} of #{results.itemsFound} results found for "#{results.searchTerm}"
        div(class='container-fluid')
            div(class='list-group list-view-pf list-view-pf-view')
                each item in results.items
                    div(class='list-group-item')
                        div(class="list-view-pf-checkbox")
                            input(type="checkbox")
                        div(class="list-view-pf-main-info")
                            div(class="list-view-pf-body")
                                div(class="list-view-pf-description")
                                    div(class="list-group-item-heading")
                                        a(target="_blank" href=`https://www.ncbi.nlm.nih.gov/pmc/articles/PMC${item.uid}`) #{item.uid}
                                    div(class="list-group-item-text")
                                        span
                                            strong= item.title
                                        br
                                        - var displayComma = false
                                        each author, index in item.authors
                                            if author.authtype == "Author"
                                                if displayComma == true
                                                    span ,&nbsp;
                                                span= author.name
                                                - displayComma = true
                                div(class="list-view-pf-additional-info")
                                    div(class="list-view-pf-additional-info-item")
                                        span(class="pficon pficon-screen")
                                        span Age 19-64
                                    div(class="list-view-pf-additional-info-item")
                                        span(class="pficon pficon-cluster")
                                        span Male 50%
                                    div(class="list-view-pf-additional-info-item")
                                        span(class="pficon pficon-container-node")
                                        span Female 50%
                                    div(class="list-view-pf-additional-info-item")
                                        span(class="pficon pficon-image")
                                        span Race: Other
