//-
    results.pug

    Basic layout of the search results page.

extends layout.pug
block scripts
    script(src="scripts/pubminer.js")
block content
    if results.items.length == 0
        p(style='margin: 24px 0px 0px 20px; font-style: italic;') No results found for "#{qryResult.searchTerm}"
    else
        p(style='margin: 24px 0px 0px 20px; font-style: italic;') Displaying #{qryResult.itemsReturned} of #{qryResult.itemsFound} results found for "#{qryResult.searchTerm}"
        input(type="hidden" id="webenv" value=qryResult.webenv)
        input(type="hidden" id="querykey" value=qryResult.querykey)
        input(type="hidden" id="nextRow" value=nextRow)
        input(type="hidden" id="rowCount" value=rowCount)
        div(class='container-fluid')
            div(id="resultRows" class='list-group list-view-pf list-view-pf-view')
                include resultRows
        button(id="moreButton" class="btn btn-warning") Show More
