//-
    resultRowExpansion.pug

    Display the row expansion area.

div(class="list-group-item-container container-fluid hidden")
    div(class="close")
        span(class="pficon pficon-close")
    div(class="exp-data-header")
        if (item.pubdate) 
            span(class="exp-data-title") Publication Date:
                span(class="exp-data-date")= item.pubdate
        span(class="exp-data-title") PubMed:&nbsp;
            a(class="pmids" target="_blank" href=`https://www.ncbi.nlm.nih.gov/pubmed/${item.pmid}`) #{item.pmid}
        if (item.pmcid)
            span(class="exp-data-title") PubMed Central:&nbsp;
                a(class="pmcids" target="_blank" href=`https://www.ncbi.nlm.nih.gov/pmc/${item.pmcid}`) #{item.pmcid}
                input(class="pmcid" type="hidden" value=item.pmcid)
    //- Accordion Control
    div(class="panel-group pm-accordion" id=`accordion-markup${item.uid}`)
        include accordionAbstract
        include accordionSentence
        include accordionTable1
