//-
    results.pug

    Basic layout of the search results page.

extends layout.pug
block scripts
    script(src="scripts/pubminer.js")
block content
    if results.items.length == 0
        p(id="resultsCount" class='results-summary') No results found for "#{qryResult.searchTerm}"
    else
        input(type="hidden" id="webenv" value=qryResult.webenv)
        input(type="hidden" id="querykey" value=qryResult.querykey)
        input(type="hidden" id="itemsLoaded" value=results.items.length)
        input(type="hidden" id="totalItems" value=qryResult.itemsFound)
        input(type="hidden" id="termSearched" value=qryResult.searchTerm)
        p(id="resultsCount" class='results-summary') Displaying #{results.items.length} of #{qryResult.itemsFound} results found for "#{qryResult.searchTerm}"
        div(class='container-fluid')
            div(id="resultRows" class='list-group list-view-pf list-view-pf-view')
                include resultRows
        button(id="moreButton" class="btn btn-warning") Show More
